<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', {title:'Details'}) %>
</head>

<body>

    <%- include('./partials/header') %>

        <div id="det">

            <% results.forEach(result=> { %>


                <div class="details-card">
                    <h2>
                        <%= result.character %>
                    </h2>
                    <p>
                        <%= result.quote %>
                    </p>
                    <img src="<%= result.image %>" alt="">
                    <form action="/character/<%= result.id %>?_method=PUT" method="POST" class="upd-form">
                        <textarea name="quote" rows="10" cols="50">
                            <%= result.quote %>
                        </textarea>

                        <input type="submit" value="update" class="upd-btn">
                    </form>

                    <form action="/character/<%=result.id%>?_method=DELETE" method="POST" class="del-form">
                        <input type="submit" value="Delete" class="del-btn">
                    </form>
                </div>




                <% }) %>

        </div>
</body>

</html>