<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title:'Favorites'}) %>
<body>
    <%- include('./partials/header') %>
    <div id="container">

        <% results.forEach(result => { %>
            <!-- <div class="card-fav"> -->

                <div class="<%=result.character_direction%>">
                    <a href="/character/<%= result.id %>"><img src="<%= result.image %>" alt=""></a>
                    
                    <h2><%= result.character %></h2>
                    <p><%= result.quote %></p>
                    <!-- <form action="/character/<%= result.id %>" method="GET">
                        <input type="hidden" name="character">
                        <input type="hidden" name="quote">
                        <input type="hidden" name="image">
                        <input type="hidden" name="character_direction">
                        <input type="submit" value="View Details">
                    </form> -->
                </div>
                
            <!-- </div> -->
        
    
        <% }) %>
    </div>
    </body>
</html>