<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title:'Home'}) %>

    <body>
        <%- include('./partials/header') %>

            <div id="container-home">

                <% results.forEach(result=> { %>
                    <div class="card">
                        <img src="<%= result.image %>" alt="">
                        <h2>
                            <%= result.character %>
                        </h2>
                        <p>
                            <%= result.quote %>
                        </p>
                        <form action="/add" method="POST" class="add-btn">
                            <input type="hidden" name="character" value="<%= result.character %>">
                            <input type="hidden" name="quote" value="<%= result.quote %>">
                            <input type="hidden" name="image" value="<%= result.image %>">
                            <input type="hidden" name="character_direction" value="<%= result.character_direction %>">
                            <input type="submit" value="Favor character">
                        </form>
                    </div>



                    <% }) %>
            </div>
    </body>

</html>